<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles/reset.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Home Page</title>
</head>

<body>
  <div class='jumbo-container'>
    <nav class='nav-bar'>
      <p class='dropdown'><a href='#'>Personal</a></p>
      <p class='dropdown'><a href='#'>Business</a></p>
      <p class='dropdown'><a href='#'>Investment</a></p>
      <p class='dropdown'><a href='#'>Careers</a></p>
    </nav>

    <div class='modal'>
        <div class='modal-content'>
            <span class="close">&times;</span>
                <div class='modal-login-box'>
                  <form>
                    UserName:<br>
                    <input type="text" id='username'><br>
                    Password:<br>
                    <input type="password" id="pw">
                    <div class='pw-error'></div>
                    <div>
                      <button class='account-button login-button'>Login</button>
                      <button class='account-button signup-button'>Sign up!</button>
                    </div>
                </form>
              </div>
        </div>
    </div>

  <div class='jumbo-login-row'>
      <div class="login-box">
        <h1>Log into your Account</h1>
        <div class="button-box">
          <button id='login'>login</button>
          <button id='signup'>signup</button>
        </div>
        <div class='login-box-info'>
          <p><a href='#'>Forgot password?</a></p>
        </div>
      </div>
  </div>

</div>
<div class="container2">
<div id="list-of-options">
  <ul class="ul-boxs">
    <li class="box1 display-li"><p class="list"><a class="white-text" href="Find a credit card">Find a credit card</a></p>
    </li>
    <li class="box2 display-li"><p class="list2"><a class="list2" href="Manage your money">Manage your money</a></p>
    </li>
    <li class="box2 display-li"><p class="list2"><a class="list2" href="Buy a home">Buy a home</a></p>
    </li>
    <li class="box2 display-li"><p class="list2"><a class="list2" href="Buy a car">Buy a car</a></p>
    </li>
    <li class="box2 display-li"><p class="list2"><a class="list2" href="Use your equity">Use your equity</a></p>
    </li>
  </ul>
</div>
<div class="card-info">
  <p>A card that matches you</p>
  </div>
</div>
</body>

<footer class="footer">
  <div id="logo">
    <p class="white">
      <a class="white-text" href="Financial IQ">Financial IQ</a>|
      <a class="white-text" href="Security">Security</a>|
      <a class="white-text" href="Careers">Careers</a>|
      <a class="white-text" href="FAQ">FAQ</a>|
      <a class="white-text" href="Privacy">Privacy</a>|
      <a class="white-text" href="Online Tracking and Advertising">Online Tracking and Advertising</a>|
      <a class="white-text" href="Accessibility">Accessibility</a>
    </p>
    <br>
      <a href=""><img class="img1" /></a>
      <a href=""><img class="img2" /></a>
      <a href=""><img class="img3" /></a>
      <hr>
    </div>
  </footer>
<script>
  //pressing the login/signup will toggle the modal for user
  $('#login').on('click',function(){
    event.preventDefault()
    $('.modal').css('display','block')
  })

  //pressing on the document or the X will allow the user to close the modal
  $('span').on('click',function(){
    event.preventDefault()
    $('.modal').css('display','none')
  })

//buttons on the modal
  $('.login-button').on('click',function(){
    event.preventDefault()
    
    let email = $('#username').val().trim()
    let password = $('#pw').val().trim()
    console.log(`Loging in as\nLogin:${email}\nPassword:${password}`)
    loginUser(email,password)

  })

  $('.signup-button').on('click',function(){
    event.preventDefault()
    $('.pw-error').empty()

    let newUsername = $('#username').val().trim()
    let newPassword = $('#pw').val().trim()
    checkSignUp(newUsername,newPassword)
  })

//function to make sure the user creates a password within the requirements
  function checkSignUp(username,pw){
    let checkUpperCase = false;
    let checkLowerCase = false;
    let checkLength = false;


    for(let i = 0; i < pw.length; i++){
      if(pw.charAt(i) === pw.charAt(i).toUpperCase()){
        checkUpperCase = true
      }
      if(pw.charAt(i) === pw.charAt(i).toLowerCase()){
        checkLowerCase = true
      }
    }

    if(pw.length >= 8){
      checkLength = true
    }

    if(checkUpperCase === false){
      $('.pw-error').append(`<p>You must include a uppercase letter!</p>`)
    }
    if(checkLowerCase === false){
      $('.pw-error').append(`<p>You must include a lowercase letter!</p>`)
    }
    if(checkLength === false){
      $('.pw-error').append(`<p>Your password must be 8 or more characters!</p>`)
    }
    if(checkUpperCase === true && checkLowerCase === true && checkLength === true){
      console.log('password requirements passed')
      console.log(`creating new user \nUsername: ${username}\nPassword: ${pw}`)
    }
  }
    function loginUser(email, password) {
    $.post("/api/login", {
      email: email,
      password: password
    }).then(function(data) {
      console.log('logging in....')
      console.log(data)
      window.location.replace(data.location);
      // If there's an error, log the error
    }).catch(function(err) {
      console.log(`The error is ${err}`);
    });
  }

</script>
</html>
