

  <div class='jumbo-container'>
    {{!-- <nav class='nav-bar'>
      <p class='dropdown'><a href='#'>Personal</a></p>
      <p class='dropdown'><a href='#'>Business</a></p>
      <p class='dropdown'><a href='#'>Investment</a></p>
      <p class='dropdown'><a href='#'>Careers</a></p>
    </nav> --}}

    <div class='login-modal'>
        <div class='modal-content'>
            <span class="close">&times;</span>
                <div class='modal-login-box'>
                  <form action='/api/login' method="POST">
                    <label>UserName:</label>
                    <input type="username" id='username' name='username'><br>
                    <label>Password:</label>
                    <input type="password" id="pw" name='password'>
                    <div class='pw-error'></div>
                    <div>
                      <button class='account-button login-button' type='submit'>Login</button>
                    </div>
                </form>
              </div>
        </div>
    </div>

    <div class='signup-modal'>
      <div class='modal-content'>
          <span class="close">&times;</span>
              <div class='modal-signup-box'>
                <form action='/api/signup' method="POST">
                  <label>UserName:</label>
                  <input type="username" id='username' name='username'><br>
                  <label>Password:</label>
                  <input type="password" id="pw" name='password'>
                  <div class='pw-error'></div>
                  <div>
                    <button class='account-button signup-button' type='submit'>Sign up!</button>
                  </div>
              </form>
            </div>
      </div>
    </div>

  <div class='jumbo-login-row'>
      <div class="login-box">
        <h1>Log into your Account</h1>
        <div class="button-box">
          <button id='login'>login</button>
          <button id='signup'>signup</button>
        </div>
        <div class='login-box-info'>
          <p><a href='#'>Forgot password?</a></p>
        </div>
      </div>
  </div>
</div>  

  <div class="container2">

        <div class="ul-boxs">
          <div id='credit-card' class="box1 display-li">Find a credit card</div>
          <div id='manage-money'class="box2 display-li">Manage your money</div>
          <div id='buy-home'class="box2 display-li">Buy a home</div>
          <div id='buy-car' class="box2 display-li">Buy a car</div>
          <div id='buy-equity' class="box2 display-li">Use your equity</div>
        </div>

        <div class='container2-content'>
            <div id='credit-card-box'>
              credit-card-box
            </div>
            <div id='manage-money-box'>
              manage-money-box
            </div>
            <div id='buy-home-box'>
              buyhone
            </div>
            <div id='buy-car-box'>
              asdofin
            </div>
            <div id='buy-equity-box'>
              equity
            </div>
        </div>
    </div>


  {{> footer }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
